@using System.Web.UI.WebControls
@model Mvc.Entities.InputInfo
@{
    ViewBag.Title = "Home Page";
    var ajaxOptions = new AjaxOptions
        {
            Url = Url.Action("Index", "Home"),
            //LoadingElementId = "loading",
            //LoadingElementDuration = 2000,
            //OnSuccess = "onSuccess",
            HttpMethod = "Post"
        };
}
<h2>@ViewBag.Message</h2>
<div class="centerwrapper">
    <input type="button" value="Get previous" id="getCookies"> </input>
    @using (Html.BeginForm("Index", "Home", FormMethod.Post, new { id = "financeForm" }))
    {
        <div id="" class="loader">
        </div>
        <p>
            @Html.TextBoxFor(model => model.Company, new { id = "company", placeholder = "Company symbol" })
            <input type="submit" value="Get quotes" />
        </p>
        <p>
            @Html.TextBoxFor(model => model.DateFrom, new { id = "from", placeholder = "From" })
            @Html.TextBoxFor(model => model.DateTo, new { id = "to", placeholder = "To" })
        </p>
        <div id="radio">
            @Html.RadioButtonFor(model => model.Provider, "GoogleProvider", new { id = "radio1", value = "GoogleProvider" })
            @Html.Label("radio1", "Google");
            @Html.RadioButtonFor(model => model.Provider, "YahooProvider", new { id = "radio2", value = "YahooProvider" })
            @Html.Label("radio2", "Yahoo");
        </div>
    }
    <div id="finance-historical">
    </div>
    @Html.Partial("Pager")
</div>